<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mirkamol.telegramanimatios" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TelegramAnimatios" >
        <activity
            android:name=".activity.activity.TelegramAnimationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.activity.TwitterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.activity.YoutubeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.activity.FacebookActivity"
            android:exported="false" />
        <activity
            android:name=".activity.activity.TogatherActivity"
            android:exported="false" />
        <activity
            android:name=".activity.activity.SequentialActivity"
            android:exported="false" />
        <activity
            android:name=".activity.activity.BounceActivity"
            android:exported="false" />
        <activity
            android:name=".activity.activity.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>